 .u-section-1 {
  background-image: url("images/CORSOFUMETTO.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1646px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1357px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1155px;
}

.u-section-2 .u-shape-1 {
  height: 578px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 905px;
  margin: -495px auto 60px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/1.jpg");
  min-height: 517px;
  background-position: 96.77% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 517px;
  background-image: url("images/4.jpg");
  background-position: 100% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px 30px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/2.jpg");
  background-position: 100% 50%;
  min-height: 517px;
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-2 .u-image-4 {
  min-height: 517px;
  background-image: url("images/3.jpg");
  background-position: 0% 50%;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1156px;
  }

  .u-section-2 .u-shape-1 {
    height: 585px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -502px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 955px;
  }

  .u-section-2 .u-shape-1 {
    height: 478px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -396px;
  }

  .u-section-2 .u-image-1 {
    min-height: 411px;
  }

  .u-section-2 .u-image-2 {
    min-height: 411px;
  }

  .u-section-2 .u-image-3 {
    min-height: 411px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-4 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2580px;
  }

  .u-section-2 .u-shape-1 {
    height: 1301px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1219px;
  }

  .u-section-2 .u-image-1 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 617px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1674px;
  }

  .u-section-2 .u-shape-1 {
    height: 843px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -761px;
  }

  .u-section-2 .u-image-1 {
    min-height: 388px;
  }

  .u-section-2 .u-image-2 {
    min-height: 388px;
  }

  .u-section-2 .u-image-3 {
    min-height: 388px;
  }

  .u-section-2 .u-image-4 {
    min-height: 388px;
  }
} .u-section-3 {
  background-image: url("images/carro22.jpg");
  background-position: 50% 0%;
  background-size: cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.61111rem;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 163px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.27778rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 778px;
  margin: 102px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-left: 81px;
    margin-right: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 139px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 58px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
    margin-bottom: 34px;
  }
} .u-section-4 {
  min-height: 1083px;
}

.u-section-4 .u-shape-1 {
  height: 328px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -525px auto -168px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  margin: 24px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 154px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 628px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 20.51%;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 147px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 280px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 498px;
}

.u-section-4 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 28.99%;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.8;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1164px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 243px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 127px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 518px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 121px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 231px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 411px;
  }

  .u-section-4 .u-image-3 {
    object-position: 50% 33.27%;
    height: 169px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2236px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -297px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 132px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 685px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 128px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 719px;
  }

  .u-section-4 .u-image-3 {
    height: 440px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1445px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 198px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 188px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 96px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2379px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 231px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 60px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 60px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 231px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 60px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 60px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 639px;
}

.u-section-5 .u-shape-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  min-height: 356px;
  width: 965px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.2);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  margin: -178px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 49px;
}

.u-section-5 .u-text-1 {
  margin: 37px 434px 0 0;
}

.u-section-5 .u-image-1 {
  width: 233px;
  height: 249px;
  margin: -19px 37px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: -207px 434px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    height: 280px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 27px;
    margin-right: 252px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -9px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -226px;
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
    min-height: 531px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 218px;
    margin-right: auto;
    margin-left: 108px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -454px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 747px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 214px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 355px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: -580px;
    margin-left: 10px;
    margin-right: 10px;
  }
}